[submodule "parcel"]
	path = parcel
	url = git@github.com:plasma-umass/parcel.git
[submodule "COMWrapper"]
	path = COMWrapper
	url = git@github.com:dbarowy/COMWrapper.git
[submodule "ParcelCOMShim"]
	path = ParcelCOMShim
	url = git@github.com:dbarowy/ParcelCOMShim.git
