<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExceLintUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.1.0" />
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
    <userSettings>
        <ExceLintUI.Properties.Settings>
            <setting name="ExceLintGroundTruthPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CUSTODESTrueSmellsCSVPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CUSTODESWorkbooksPath" serializeAs="String">
                <value />
            </setting>
        </ExceLintUI.Properties.Settings>
    </userSettings>
</configuration>