<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExceLintCLIGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ExceLintCLIGenerator.Properties.Settings>
            <setting name="excelintrunnerPathDefault" serializeAs="String">
                <value>C:\Program Files (x86)\PLASMA-at-UMass\ExceLint\ExceLintRunner.exe</value>
            </setting>
            <setting name="inputPathDefault" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="outputPathDefault" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="excelintGTPathDefault" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="custodesGTPathDefault" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="javaPathDefault" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="custodesJARPathDefault" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="verboseFlagDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="noexitFlagDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="spectralFlagDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="allCellsFlagDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="columnsFlagDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rowsFlagDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="levelsFlagDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sheetsFlagDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="intrinsicFlagDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cssFlagDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="inputsTooFlagDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="thresholdDefault" serializeAs="String">
                <value>5</value>
            </setting>
        </ExceLintCLIGenerator.Properties.Settings>
    </userSettings>
</configuration>